.form-container-editjobdescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 400px; /* Set a max width for the form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color:rgb(220, 34, 34); /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.update{
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and borders are included in total width and height */
}

button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049; /* Darker green */
}
